<div id="image_gallery_full" class="modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- GALLERY_BLOCK_END -->
    <div class="modal-content ">

      <div class="modal-body   pdngno">
        <div class='inln w100  pdng5px ' style='height:7%'>
          <a data-toggle="tab" data-target='#labelimage_tab' class='nodec ml_4px fl'>
            <i class=' cursor color5 fa fa-camera iconhov  fsize25px '></i>
          </a>
          <button type="button" class="close w10 fr  " data-dismiss="modal">&times;</button>
        </div>

        <div class="tab-content   mobile_gallery_height" style='height:550px;overflow:scroll'>
          <!-- GALLERY_BLOCK -->
          <div id='labelimage_tab' class=' tab-pane fade in active '>
            <div data-ng-show='!gallerybox_spinner' class='mdl-spinner mdl-js-spinner is-active valcenter3 w60px ht60px'></div>
            <div id="myCarousel_labelimages" class="carousel br3 slide carousel_common_images" style='' data-ride="carousel" data-interval=false>
              <!-- Wrapper for slides -->
              <div class="carousel-inner  br4 ">
                <galleryboxsketch></galleryboxsketch>
                <!-- GALLERY LEFT_RIGHT_CONTROL  xxxxxxxxxxxxxxxxxxxxxxxx -->
                <a class="left carousel-control color5 " id='carousel_back' data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control color5" id='carousel_next' data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next </span>
                </a>
              </div>
            </div>
          </div>

          <!-- WHO LIKED BLOCK -->
          <div id='gallery_image_likers' class="tab-pane fade ">
            <likers class=''></likers>
          </div>
          <!-- Comments BLOCK -->
          <div id='gallery_image_comments' class="tab-pane fade">
            <div class='pdng12px' style='overflow:scroll;height:79%'>
              <commentbox></commentbox>
              <br>
            </div>

            <div style='position:absolute;bottom:0px;height:20%' class='w100   br3  backsw2 modal-footer'>
              <div class='w100 backsw2 pdng3px'>
                <a data-toggle="tab" data-target='#gallery_image_likers' class='nodec  fl mr_2 ml_2'>
                  <i class=' cursor color5 fa fa-thumbs-up   iconhov  fsize30px '></i>
                </a>
                <div class='ht40px w40px boxsh1 fl  br backimgprop ' data-ng-repeat='l in statisticperson_likes | limitTo : 8' style='background-image:url({{l.avatar }}),url(../img/media/imgerror.jpg);border:2px solid white;'>
                </div>
              </div>
              <table border='0' class='text-center   w100'>
                <tr>
                  <td id='emoji_block_galleryimage' class='dp' colspan='2'>
                    <emoji inpid='comment_text_labelimage'></emoji>
                  </td>
                </tr>
                <tr>
                  <td class='pdng7px'>
                    <input placeholder="Your Comment" value="" type='text' id='comment_text_labelimage' class='nobrdr inputbot fsize13px w90 color2 font2'
                    />
                  </td>
                  <td class='pdng7px'>
                    <i data-ng-click="send_comment(object_type,'comment_text_labelimage')" class='ml_2px  fa fa-commenting iconhov cursor color5 fsize30px '></i>
                    <i data-ng-click="emoji_toggle_arg('emoji_block_galleryimage')" class='color5 ml_2  fa fa-smile-o  cursor iconhov fsize30px '></i>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--COMMENTS_BLOCK_END        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<script>
  $(document).ready(function () {
    var currentslide = $('div.active').index() + 1;
    $("#myCarousel_labelimages").swiperight(function (e) { $(this).carousel('prev'); });
    $("#myCarousel_labelimages").swipeleft(function () { $(this).carousel('next'); });
    $("#carousel_back").click(function (e) { $('#myCarousel_labelimages').carousel('prev'); e.preventDefault(); });
    $("#carousel_next").click(function (e) { $('#myCarousel_labelimages').carousel('next'); e.preventDefault(); });


  });

</script>